<h1>Hello world!</h1>

<p>Just a demonstration on how to have express before astro</p>

<p>
  Always served by express
  <a href="/ping">Goto express route</a>
</p>

<p>
  Express middleware passing data to astro <a href="/mixed">Goto mixed route</a>
</p>

<p>
  Express middleware passing data to astro <a href="/luck">Goto lucky route</a>
</p>
